@model FriendlyRS1.ViewModels.ForgotPasswordVM
@{ 
    Layout = "_Layout";
}
<div class="container">
    <form asp-action="ForgotPassword" method="post" class="w-50 mx-auto border bg-light p-3 forgot-password">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <h4>Password recovery</h4>
            <hr />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input asp-for="Email" type="email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Send Email" class="btn btn-info" />
        </div>
    </form>
</div>