@{
    Layout = "_Layout";
}


<div class="container">
    <div class="mx-auto shadow p-3 mb-5 bg-white rounded">
        <h4>Your password has been updated successfully! </h4>
        <hr />
        <a asp-action="Login" class="btn btn-info">Go to login</a>
    </div>
</div>