@{
    Layout = "_Layout";
}

<div class="container">
    <div class="mx-auto shadow p-3 mb-5 bg-white rounded">
        <h4>Confirmation link has expired</h4>
        <hr />
        <a asp-action="Login" class="btn btn-success text-white">Go to login</a>
    </div>
</div>
