

<div class="container">
    <div class="alert alert-danger">
        <h5 class="text-danger">An error occured processing your request.</h5>
    </div>
    <hr />
    <p>
        Contact us: <span class="text-primary font-weight-bold">friendlyteam@engineer.com</span>
    </p>
</div>

