@model FriendlyRS1.ViewModels.CityVM

@{
    Layout = null;
}

<form id="CityForm" class="border p-3">
    <div asp-validation-summary="ModelOnly"></div>
    <h4>Home town</h4>
    <hr />
    <input type="text" asp-for="UserId" hidden />
    <div class="form-group">
        <label>Country</label>
        <select asp-for="CountryId" asp-items="Model.Countries" class="form-control" id="country">
        </select>
    </div>
    <div class="form-group">
        <label>Postal code</label>
        <div class="d-flex">
            <input onchange="GetData(document.getElementById('country'), document.getElementById('code'), document.getElementById('result'))" asp-for="PostalCode" type="number" pattern="\d*" class="form-control w-25" id="code" min="10000" max="99999"  />
            <span asp-validation-for="PostalCode"></span>
            <div id="search" onclick="GetData(document.getElementById('country'), document.getElementById('code'), document.getElementById('result'))" class="btn btn-info ">
                <i class="fas fa-search-location"></i>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>City</label>
        <input onchange="ChangeName(this)" readonly asp-for="CityName" type="text" id="result" class="form-control text-danger" />
        <span asp-validation-for="CityName"></span>
    </div>
    <input type="button" onclick="Submit() " value="Save Changes" class="btn btn-success" />
    <input onclick="Home()" type="button" value="Go back" class="btn btn-secondary" />
</form>
