@model UserDetailsVM
@{
    Layout = null;
}

<div class="d-flex align-items-center">

    <i class="fas fa-info-circle fa-lg text-info pr-2"></i><span class="text-info">PERSONAL INFORMATION</span>
</div>

<hr />
<div class="px-1">
    <div>
        <p class="m-0">First name</p>
        <small>@Model.FirstName</small>
    </div>
    <hr />
    <div>
        <p class="m-0">Last name</p>
        <small>@Model.LastName</small>
    </div>
    <hr />

    <div>
        <p class="m-0">@Model.DateOfBirth.ToShortDateString()</p>
        <small>Birth Date</small>
    </div>
    <hr />
    <div>
        <p class="m-0">@Model?.Gender</p>
        <small>Gender</small>
    </div>
    <hr />
  
</div>


